# Funções map(), reduce(), filter() e zip()

### map() - Faz o mapeamento de uma entrada para uma saída. Recebe 2 argumentos: função e iterável.

In [1]:
# Conversão temperaturas Celsius em Fahrenheit
# 1a solução (usando função para conversão e percorrer lista com for)
def fahrenheit(C):
    return (9/5)*C+32

In [2]:
temp_Celsius = [9, 22, 38, 0, -10, 15, 27]

In [3]:
for temp in temp_Celsius:
    print("{}°C".format(temp).rjust(8)+" = "+"{}°F".format(fahrenheit(temp)).rjust(8))

     9°C =   48.2°F
    22°C =   71.6°F
    38°C =  100.4°F
     0°C =   32.0°F
   -10°C =   14.0°F
    15°C =   59.0°F
    27°C =   80.6°F

In [4]:
# 2a solução (percorrer com for e usar função para gerar uma lista das temperaturas em F)
temp_F = []
for temp in temp_Celsius:
    temp_F += [fahrenheit(temp)]
temp_F

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

In [5]:
# 3a solução: usar função a função map() para iterar a lista das temperaturas em °C e gerar a lista em °F
temp_F2 = list(map(fahrenheit, temp_Celsius))
temp_F2

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

In [6]:
# 4a solução: usar função a função map() para iterar a lista das temperaturas em °C e gerar a lista em °F
# Dessa vez vamos usar uma função lambda no lugar da função fahrenheit
temp_F3 = list(map(lambda C: (9/5)*C+32, temp_Celsius))
temp_F3

[48.2, 71.6, 100.4, 32.0, 14.0, 59.0, 80.6]

### reduce() - Aplica uma função a todos os valores da estrutura de dados, dois a dois, de forma a agregá-los em um único valor. Recebe 2 argumentos: função e iterável.

![Coloque a imagem reduce.png na mesma pasta que o notebook "Aula map(), reduce(), filter(), zip().ipynb"](reduce.png)

In [7]:
from functools import reduce # Anteriormente era uma função built in do Python

In [8]:
# Definindo a lista de números
numeros = [4, 2, 7, 1, 5, 9]

In [9]:
# Definindo a função soma
def soma(n1, n2):
    """
    Retorna a soma entre os 2 números recebidos por parâmetro.
    """    
    return n1 + n2

In [10]:
# Aplica a função soma em todos os valores da lista (dois a dois), retornando a soma de todos os elementos.
print(reduce(soma, numeros))

28

In [11]:
# Aplica a função soma em todos os valores da lista (dois a dois), retornando a soma de todos os elementos.
# Usa uma função lambda no lugar da função soma
print(reduce(lambda n1, n2: n1+n2, numeros))

28

In [12]:
# Definindo a função menor
def menor(n1, n2):
    """
    Retorna o menor entre os 2 números recebidos por parâmetro.
    """
    if n1 < n2:
        return n1
    else:
        return n2

In [13]:
print(reduce(menor, numeros))

1

In [14]:
print(reduce(lambda n1, n2: n1 if n1 > n2 else n2, numeros))

9

### filter() - Aplica um filtro na estrutura de dados, retornando apenas os elementos que passaram por esse filtro. Recebe 2 argumentos: função e iterável.

In [15]:
def impar(num):
    if num % 2 != 0:
        return True
    else:
        return False

In [16]:
numeros = [4, 2, 7, 1, 5, 9]

In [17]:
impares = list(filter(impar, numeros))
impares

[7, 1, 5, 9]

In [18]:
pares = list(filter(lambda num: num%2 == 0, numeros))
pares

[4, 2]

In [19]:
numeros = [-4, 2, -7, 1, -5, 9]
positivos = list(filter(lambda num: num >= 0, numeros))
positivos

[2, 1, 9]

### zip() - Combina dados de vários iteráveis, de forma que o i-ésimo elemento da tupla contenha o i-ésimo elemento de cada um dos iteráveis recebidos por parâmetro. A iteração é interrompida quando já tiver percorrido todos os elementos do menor dos iteráveis.

In [20]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
l4 = [10,11,12,13]
list(zip(l1, l2))

[(1, 4), (2, 5), (3, 6)]

In [21]:
list(zip(l1, l2, l3))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [22]:
list(zip(l1, l2, l3, l4))

[(1, 4, 7, 10), (2, 5, 8, 11), (3, 6, 9, 12)]

In [23]:
nomes = ["Raul", "Bia", "José"]
idades = [32, 25, 28]
cidades = ["Campinas", "BHte", "João Pessoa"]
dados = list(zip(nomes, idades, cidades))

In [24]:
dados

[('Raul', 32, 'Campinas'), ('Bia', 25, 'BHte'), ('José', 28, 'João Pessoa')]